# Rust
target/
**/*.rs.bk
Cargo.lock

# Python
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
__pycache__/
.venv/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
extproc-server

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
vendor/

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db

# Project specific
bin/
