---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vllm-ai-v1alpha1-semanticrouter
  failurePolicy: Fail
  name: vsemanticrouter.kb.io
  rules:
  - apiGroups:
    - vllm.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - semanticrouters
  sideEffects: None
