apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: semantic-router
resources:
- namespace.yaml
- pv-models.yaml
- deployment.yaml
- service.yaml
patches:
- patch: "- op: replace\n  path: /spec/template/spec/containers/0/args\n  value: [\"\
    --secure=false\"]"
  target:
    kind: Deployment
    name: semantic-router
configMapGenerator:
- name: semantic-router-config
  files:
  - config.yaml
  - tools_db.json
namespace: vllm-semantic-router-system
