apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: model-b
  labels:
    app: model-b
  annotations:
    serving.kserve.io/deploymentMode: RawDeployment
spec:
  predictor:
    containers:
      - name: llm-d-inference-sim
        image: ghcr.io/llm-d/llm-d-inference-sim:v0.6.1
        imagePullPolicy: Always
        args:
          - --port
          - "8080"
          - --model
          - Model-B
          - --mode
          - random
        ports:
          - containerPort: 8080
            protocol: TCP
